*
!README.md
!LICENSE
!.gitignore
!.zprofile
!.zshrc
!.xinitrc
!.xserverrc
!.config/
!.config/i3/
!.config/i3/config
!.config/alacritty/
!.config/alacritty/alacritty.yml
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/ssh-agent.service
!.config/polybar
!.config/polybar/config
!.config/neofetch/
!.config/neofetch/config.conf
